[submodule "externals/qt"]
	path = externals/qt
	url = git://gitorious.org/+qt-developers/qt/releases.git
[submodule "externals/zlib"]
	path = externals/zlib
	url = lxplus.cern.ch:www/repository/ispy/zlib.git
[submodule "externals/coin"]
	path = externals/coin
	url = lxplus.cern.ch:www/repository/ispy/coin.git
[submodule "externals/freetype"]
	path = externals/freetype
	url = lxplus.cern.ch:www/repository/ispy/freetype.git
[submodule "externals/fontconfig"]
	path = externals/fontconfig
	url = lxplus.cern.ch:www/repository/ispy/fontconfig.git
[submodule "externals/simage"]
	path = externals/simage
	url = lxplus.cern.ch:www/repository/ispy/simage.git
[submodule "externals/soqt"]
	path = externals/soqt
	url = lxplus.cern.ch:www/repository/ispy/soqt.git
[submodule "externals/git-buildpackage"]
	path = externals/git-buildpackage
	url = http://honk.sigxcpu.org/git/git-buildpackage.git
